styles.css
body{
    font-family: 'Roboto', sans-serif;
 

}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: slategrey;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: 24px;
     color: rgba(65, 66, 70, 0.979);

}
a:link{
    color: slategray;
    font-size: 24px;
    text-decoration: none;

}
li:visited{
    color: tomato;
}
li:hover{
    color: silver;
}
.styled-button{
    
    background-color: palevioletred;
    text-decoration-color: papayawhip;
}